<header class="header" id="header">
    <div class="container menu">
        <div class="menu_first">
            <a href="">Рестораны</a>
            <a href="">Кинотеатры</a>
            <a href="">О нас</a>
            <a href="">FAQ</a>
        </div>
        <div class="menu_logo">
            <a href="#">
                <img src="https://sun9-62.userapi.com/impg/ZoOGUKtSHtjjOggj0qYsoiEBBEAlmCZ6BGUZYg/30iL_Rndow4.jpg?size=208x43&quality=96&proxy=1&sign=3640b0513c43365055c0ad2f1cbfbd86&type=album" alt="">
            </a>
        </div>
        <div class="menu_second">
            <div class="menu_second_pod">
                <button class="button">Войти</button>
                <button class="button">Регистрация</button>
            </div>
        </div>
    </div>
</header>

<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }

    .header {
        height: 110px;
    }
    .menu {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .menu_logo {
        width: auto;
    }

    .menu_logo img {
        width: 100%;
    }

    .menu_first {
        width: 30%;
        display: flex;
        justify-content: space-around;
    }

    .menu_first a{
        text-decoration: none;
        color: black;
    }

    .menu_second {
        width: 25%;
    }

    .menu_second_pod {
        display: flex;
        justify-content: space-between;
    }

    .button {
        padding: 15px 40px;
        background-color: white;
        border: 1px solid black;
    }
</style>