<div class="background">
    <div class="container background_text">
        <h3>Акция на первую бронь!</h3>
        <p>Две первых брони будут с 50% скидкой на меню! Две первых брони будут с 50% скидкой на меню!</p>
        <button class="button_alt">Выбрать заведение</button>
    </div>
</div>

<style> 
    .background {
        background-image: url(https://www.animalagricultureclimatechange.org/wp-content/uploads/2018/08/ArgentinaVegan.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
    }

    .background_text {
        padding: 250px 0;
    }

    .background_text h3 {
        font-size: 50px;
    }

    .background_text p {
        font-size: 25px;
        width: 50%;
    }

    .button_alt {
        padding: 15px 40px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }

</style>